*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
    background-color: rebeccapurple;
    margin: 3rem;
}

img{
    width: 92px;
    height: auto;
    mix-blend-mode: multiply;
}